@import url('../960/reset.css');
@import url('../960/960.css');
@import url('../960/text.css');

/**
 * BASE TEXT
 * ------------------------------------------------------------------------ */
header, footer, section {
	display: block;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #999;
}
h1 {
	font-size: 1.75em;	
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
}


/**
 * STICKY FOOTER
 * ------------------------------------------------------------------------ */
html, body {
	height: 100%;
}
#page-container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -29px; /* the bottom margin is the negative value of the footer's height */
}
footer.bottom, .push {
	height: 29px; /* .push must be the same height as .footer */
}
footer.bottom .grid_12 {
	font-size: 11px;
	color: #666;
	border-top: 1px solid #666;
}
footer.bottom p {
	margin-bottom: 10px;
}


/**
 * HEADER
 * ------------------------------------------------------------------------ */
header h1 {
	font-size: 1.75em;
	color: #333;
	background: #ccc;
	margin: 0;
	padding: 10px;
}
header.master {
	margin-bottom: 20px;
}
header nav.main {
	width: 100%;
	float: left;
	display: block;
	background: #999;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
header nav.main ul, header nav.main ul li {
	position: relative;
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav.main ul li a, header nav.main ul li a:visited  {
	position: relative;
	float: left;
	display: block;
	height: 20px;
	padding: 10px;
	cursor: pointer;
}
header nav.main ul li a:hover {
	color: #fff;
	background: #333;
}
header nav.user {
	float: right;
	margin: -84px 0 0 0;
	padding: 0 10px 0 0;
}
header nav.user ul, header nav.user ul li {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}


/**
 * MAIN NAV DROP DOWN MENUS
 * ------------------------------------------------------------------------ */
header nav.main ul li ul {
	display:block;
	width: 118px;
	position: absolute;
	top: 0px;
	left: -10000px;
	background: #999;
	border: 1px solid #333;
	border-top: none;
}
header nav.main ul li ul li {
	width: 100%;
}
header nav.main ul li.hover ul {
	top: 41px;
	left: auto;
	z-index: 1;
}
header nav.main ul li ul li a {
	width: 98px;
}

/**
 * ONE COLUMN STYLES
 * ------------------------------------------------------------------------ */
div.one-col {
	padding-top: 20px;
}


/**
 * CONFIRM DIALOG
 * ------------------------------------------------------------------------ */
#confim-dialog {
	background-color: #fff;
	border: 2px solid  #333;
}
#confim-dialog h2 {
	font-size: 14px;
	color: #fff;
	background-color: #333;
	padding: 4px;
}
#confim-dialog div.body, #confim-dialog div.buttons {
	padding: 10px;
}


/**
 * NOTIFICATIONS
 * ------------------------------------------------------------------------ */
ul.notifications, ul.notifications li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.notifications {
	width: 100%;
	position: absolute;
	top: 0px;
	font-weight: bold;
	font-size: 14px;
	background: #000;
	z-index: 100;
	filter: alpha(opacity=80); /* MSIE/PC */
	-moz-opacity: 0.8; /* Mozilla 1.6 and older */
	opacity: 0.8;
}
ul.notifications li {
	color: #fff;
	padding: 20px;
}