/**
 * FORM BASE STYLES
 * -------------------------------------------------------------------- */
form .input-wrap {
	clear: both;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	line-height: normal;
}
.label_1 label, .label_1 dl dt { width: 60px;  } .label_1 dl.vert dd { margin-left: 60px;  }
.label_2 label, .label_2 dl dt { width: 120px; } .label_2 dl.vert dd { margin-left: 120px; }
.label_3 label, .label_3 dl dt { width: 180px; } .label_3 dl.vert dd { margin-left: 180px; }
.label_4 label, .label_4 dl dt { width: 240px; } .label_4 dl.vert dd { margin-left: 240px; }
.label_5 label, .label_5 dl dt { width: 300px; } .label_5 dl.vert dd { margin-left: 300px; }
.label_6 label, .label_6 dl dt { width: 360px; } .label_6 dl.vert dd { margin-left: 360px; }
.label_7 label, .label_7 dl dt { width: 420px; } .label_7 dl.vert dd { margin-left: 420px; }
.label_8 label, .label_8 dl dt { width: 480px; } .label_8 dl.vert dd { margin-left: 480px; }

input.text-desc, input[type=text], input[type=password], textarea {
	font-size: 14px;
	width: 270px;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #333;
	background: #ddd;
	margin: 0px;
	padding: 4px;
}
.input-desc {
	color: #898989;
}
textarea {
	width: 278px;
	height: 100px;
	padding: 0px;
}
label, form dt {
	color: #000;
	font-size: 14px;
	font-weight: normal;
	padding-top: 4px;
}
label, form dl dt {
	clear: both;
	width: 120px;
	display: block;
	float: left;
	margin: 0px;
}


/**
 * SEXY BUTTONS
 * -------------------------------------------------------------------- */
a.btn {
    text-decoration: none;
}
/* Code to remove Firefox's dotted outline when you click on links and buttons */
a:focus, input[type=submit]:focus, input[type=button]:focus {
    outline: none;
}
a.btn, input[type=submit], input[type=button] {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-top: 1px solid #eee;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #ddd; /* for non-css3 browsers */
    /* The following is the filter for IE. Color is expressed in #AARRGGBB
    format, where AA is the alpha opacity hexadecimal value, RR is the red
    hexadecimal value, GG is the green hexadecimal value, and BB is the
    blue hexadecimal value. Use FF for 100% and 00 for 0% opacity. */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ff999999'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#999)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ddd,  #999); /* for firefox 3.6+ */
    color: #444;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
a.btn:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #999; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaaaaa', endColorstr='#ff444444'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#444)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #aaa,  #444); /* for firefox 3.6+ */
    color: #fff;
    border-top: solid 1px #ccc;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .65);
}
a.btn:active, input[type=submit]:active, input[type=button]:active {
    background: #444; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ffaaaaaa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#aaa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #444,  #aaa); /* for firefox 3.6+ */
    color: #fff;
    border-top: solid 1px #999;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .8);
}


/**
 * DJANGO ERRORS
 * ------------------------------------------------------------------------ */
ul.errorlist, ul.errorlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.errorlist {
	margin: 0 0 10px;
}
#top-error-container, .error-msg, ul.errorlist li {
	color: #fff;
	margin: 0;
	padding: 10px;
	background: #ff0000;
	margin: 0 0 10px 0;
}
#top-error-container p {
	margin: 0;
}
